name: Build N1
on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 0 23 * * *      
env:
  UPLOAD_COWTRANSFER: false
  UPLOAD_WERANSFER: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai
  FILE_NAME: openwrt_s905d_n1_67-lean&flippy&lienol

jobs:
  build:
    runs-on: ubuntu-20.04
    name: Build for ${{ matrix.flippy_name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - flippy_name: 67+o
            release_name: openwrt_s905d_n1_k5.4-67+o.img
          - flippy_name: 67+
            release_name: openwrt_s905d_n1_k5.10-67+.img
          - flippy_name: 67+plus
            release_name: openwrt_s905d_n1_k5.14-67+plus.img
          - flippy_name: 67+plus pro
            release_name: openwrt_s905d_n1_k5.15-67+plus-pro.img
    env:
      FLIPPY_NAME: ${{ matrix.flippy_name }}   
      RELEASE_NAME: ${{ matrix.release_name }}
    steps:
    - name: Checkout
      uses: actions/checkout@main
      
    - name: Initialization environment
      run: |     
        version=$(curl -s "https://api.github.com/repos/MXJNZ6/OpenWrt-D/releases/latest" | awk -F '"' '/tag_name/{print $4}')
        
        echo "version=$version"  >> $GITHUB_ENV
        echo "DATE=$(date "+%Y-%m-%d %H:%M:%S")"  >> $GITHUB_ENV
        
        sudo chmod  -R 777 /opt
        cp -r ${FLIPPY_NAME}/opt/* /opt
        cd /opt
        git clone https://github.com/unifreq/openwrt_packit
        cd -
        cp /opt/whoami /opt/openwrt_packit
                
    - name: Download
      run: |
        cd /opt/openwrt_packit
        
        wget  https://github.com/MXJNZ6/OpenWrt-D/releases/download/$version/openwrt-armvirt-64-default-rootfs.tar.gz
                
    - name: Check Files
      run: |
        cd /opt/openwrt_packit
        ls
                
    - name: Install the package
      run: |
        sudo rm -rf /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install xz-utils btrfs-progs gawk zip unzip curl dosfstools  uuid-runtime
        sudo -E apt-get -qq install git  git-core
        sudo -E apt-get -qq install pigz
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
    
    - name: build img
      run: |
        sudo chmod  -R 777 /opt
        mkdir  /opt/openwrt_packit/tmp
        sudo mount -t tmpfs  none  /opt/openwrt_packit/tmp
        cd /opt/openwrt_packit
        #sudo chmod +x *.sh
        sudo ./mk_s905d_n1.sh
        
    - name: pigz -9
      id: pigz
      run: |
        sudo chmod -R 777 /opt/openwrt_packit/output
        cd /opt/openwrt_packit/output
        sudo pigz -9 -p 2 -k *
        
        echo "::set-output name=status::success"
                
#    - name: copy update files
#      run: |
#        cd /opt/kernel
#        sudo cp files/update-amlogic-openwrt.sh tmp/update-amlogic-openwrt.sh

    - name: Check Files4
      run: |
        cd /opt/openwrt_packit/output
        ls

    - name: 编译后硬盘容量
      if: (!cancelled())
      run: df -hT
      
    - name: Organize files
      id: organize
      if: env.UPLOAD_FIRMWARE == 'true' && !cancelled()
      run: |
        cd /opt/openwrt_packit/output
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "::set-output name=status::success"
        
    - name: Upload firmware directory
      uses: actions/upload-artifact@main
      if: steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: OpenWrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: ${{ env.FIRMWARE }}
        
    - name: Create release
      id: release
      uses: ncipollo/release-action@v1
      with:
        name: R${{ env.DATE }} for ${{ env.FILE_NAME }}
        allowUpdates: true
        tag: ${{ env.FILE_NAME }}
        commit: master
        token: ${{ secrets.RELEASES_TOKEN }}
        body: |
          This is OpenWrt firmware for N1
          * Firmware information
          Default IP地址: 192.168.2.22
          Default username: root
          Default password: 无
          Default WIFI name: OpenWrt
          Default WIFI password: 无
          一：晶晨宝盒升级
          二：手动升级
          1. cd /mnt/mmcblk2p4
          2. wget【空格】tar.gz右键复制的releases里的固件下载连接
          3.输入 openwrt-update-amlogic 升级系统
        artifacts: ${{ env.FIRMWARE }}/*
        
    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 1
        
    #- name: Remove old Releases
    #  uses: dev-drprasad/delete-older-releases@v0.1.0
    #  with:
    #    keep_latest: 7
    #    delete_tags: true
    #  env:
    #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
